.site-footer
    .container
        
        .row
            .col-12.text-center
                p
                    | Copyright &copy;
                    | 
                    script.
                        document.write(new Date().getFullYear());
                    | 
                    span
                        a(href="https://glennludszuweit.de/") Glenn Ludszuweit