.site-mobile-menu
    .site-mobile-menu-header
        .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
    .site-mobile-menu-body
header.site-navbar(role="banner")
    .container-fluid
        .row.align-items-center
            .col-4.site-logo
                a.text-black.h2.mb-0(href="/")
                    img.logo-img(src="/images/newsblog.png" alt="logo" width="150")
            .col-8.text-right
                nav.site-navigation(role="navigation")
                    ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block.mb-0
                        li
                            a(href="/") Home
                        li
                            a(href="/politics") Politics
                        li
                            a(href="/tech") Tech
                        li
                            a(href="/entertainment") Entertainment
                        li
                            a(href="/travel") Travel
                        li
                            a(href="/sports") Sports
                        if user
                            li
                                a.btn.border-primary.px-4.dropdown-toggle.dropdown-btn(href="#" data-toggle="dropdown" style="border-radius: 30px; padding: 10px 0px; color: #000; text-decoration: none !important;")
                                    if user.profileImg
                                        img.rounded-circle.border-primary#nav-img(src=`/images/users/${user.profileImg}` alt=`Photo of ${user.name}`)
                                    else if !user.profileImg
                                        img.rounded-circle.border-primary#nav-img(src='/images/users/default.png' alt=`${user.name}`)
                                    span.pl-2= user.name.split(' ')[0]
                                    span.caret
                                .dropdown-menu.dropdown-menu-right.dashdrop
                                    a.dropdown-item(href="/account" style="cursor: pointer") Account Dashboard
                                    a.dropdown-item#logout(href="/logout" style="cursor: pointer" relo) Logout
                                
                        else
                            li
                                a.btn.border-primary.px-4.my-2(href="/auth" style="border-radius: 30px;") Login/Signup

                a.site-menu-toggle.js-menu-toggle.text-black.d-inline-block.d-lg-none(href="#")
                    span.icon-menu.h3