extends layout

block content

    .site-section.bg-light
      .row
        .col-lg-10.col-xl-9.mx-auto
          .card.card-signin.flex-row.m-2
            .card-img-left.d-none.d-md-flex
            .card-body

              //////////LOGIN//////////
              include partials/auth/_login

              //////////SIGNUP//////////
              include partials/auth/_signup
