extends layout

block content
    //////////TOP CATEGORY//////////
    include partials/index/_top_category

    //////////BLOGPOSTS//////////
    include partials/index/_blogposts

    //////////BOTTOM CATEGORY//////////
    include partials/index/_bot_category

    //////////SUBSCRIBE//////////
    include partials/index/_subscribe

