extends layout

block content

    //////////TOP CATEGORY//////////
    include partials/pages/_category

    //////////BLOGPOSTS//////////
    include partials/pages/_blogposts

    //////////BOTTOM CATEGORY//////////
    include partials/pages/_related

    //////////SUBSCRIBE//////////
    include partials/pages/_subscribe

