extends layout

block content
    //////////POST COVER IMAGE//////////
    include partials/pages/_post_cover_image

    section.site-section.py-lg
      .container

        //////////POST COVER IMAGE//////////
        include partials/pages/_post_body

        //////////POST COVER IMAGE//////////
        include partials/pages/_post_body_category

        //////////POST COVER IMAGE//////////
        include partials/pages/_comments

    //////////BOTTOM CATEGORY//////////
    include partials/pages/_related

    //////////SUBSCRIBE//////////
    include partials/pages/_subscribe