extends layout

block content 

    .py-5.bg-light
        .container
            .row
                .col-md-6
                    span Category
                    h3 Travel
                    p
                        | Category description here.. Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Aliquam error eius quo, officiis
                        | non maxime quos reiciendis perferendis doloremque maiores!
    .site-section.bg-white
        .container
            .row
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_1.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-secondary.mb-3 Politics
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_2.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-success.mb-3 Nature
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_3.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-warning.mb-3 Travel
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_1.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-secondary.mb-3 Politics
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_2.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-success.mb-3 Nature
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_4.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-danger.mb-3 Sports
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_1.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-success.mb-3 Nature
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_2.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-danger.mb-3 Sports
                            span.post-category.text-white.bg-secondary.mb-3 Tech
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
                .col-lg-4.mb-4
                    .entry2
                        a(href="single.html")
                            img.img-fluid.rounded(src="images/img_4.jpg" alt="Image")
                        .excerpt
                            span.post-category.text-white.bg-danger.mb-3 Sports
                            span.post-category.text-white.bg-warning.mb-3 Lifestyle
                            h2
                                a(href="single.html") The AI magically removes moving objects from videos.
                            .post-meta.align-items-center.text-left.clearfix
                                figure.author-figure.mb-0.mr-3.float-left
                                    img.img-fluid(src="images/person_1.jpg" alt="Image")
                                span.d-inline-block.mt-1
                                    | By 
                                    a(href="#") Carrol Atkinson
                                span &nbsp;-&nbsp; July 19, 2019
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Quo sunt tempora dolor laudantium sed optio, explicabo ad
                                | deleniti impedit facilis fugit recusandae! Illo, aliquid,
                                | dicta beatae quia porro id est.
                            p
                                a(href="#") Read More
