extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-posts") Posts
                            li.list-group-item.bg-light.active
                                a.text-dark(href="/my-comments") Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        .row 
                            .col-md-10.text-center Comments
                            .col-md-2.text-center Action
                        hr
                        .row
                            .col-md-10 Sample title
                            .col-md-2 Action
                        hr