extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light
                                    a.text-secondary(href="/new-post") New Post
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-posts") My Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-comments") My Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        .row
                            .col-md-1
                            .col-md-10
                                h3.px-5.pb-3.pt-2 Edit Comment
                            .col-md-1

                        .row
                            .col-md-1
                            .col-md-10
                                form.update-comment.px-5.pb-3
                                    h5= comment.post.title
                                    input#updateCommentId(type="hidden" value=`${comment.id}`)
                                    textarea#updateCommentField.form-control.rounded(type="text" rows="10")= comment.comment
                    
                                    .d-flex.justify-content-end.mt-3
                                        input.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Update")
                            .col-md-1

                        