extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light.active
                                a.text-dark(href="/my-posts") Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="/my-comments") Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-users") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-posts") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="/all-comments") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        .row
                            .col-md-1
                            .col-md-10
                                h1.px-5.pb-3.pt-2 Create new Post
                            .col-md-1

                        .row
                            .col-md-1
                            .col-md-10
                                form.create-new-post.px-5.pb-3
                                    
                                    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

                                    .input-group
                                        .custom-file
                                            input#postCoverImage.custom-file-input(type="file")
                                            label.custom-file-label(for="postCoverImage") Cover image ..

                                    .input-group.mt-3
                                        .custom-file
                                            input#postContentImages.custom-file-input(type="file" multiple)
                                            label.custom-file-label(for="postContentImages") Body images (min 2) ...

                                    script.
                                        $('#postCoverImage').on('change',function(){
                                        //get the file name
                                        var filename = $(this).val();
                                        //replace the "Choose a file" label
                                        $(this).next('.custom-file-label').html(filename);
                                        })

                                        $('#postContentImages').on('change',function(){
                                        //get the file name
                                        var filenames = $.map(this.files, function (file) {
                                            return file.name;
                                        });
                                        //replace the "Choose a file" label
                                        $(this).next('.custom-file-label').html(filenames.join(', '));
                                        })
                                        
                                    
                                    label.text-black.mt-3(for="postTitle") Title
                                    input#postTitle.form-control.rounded(type="text")

                                    label.text-black.mt-3(for="postAuthor") Author
                                    input#postAuthor.form-control.rounded(type="text")

                                    label.text-black.mt-3(for="postCategory") Category
                                    input#postCategory.form-control.rounded(type="text")

                                    //- label.text-black.mt-3(for="postCategory") Category
                                    //- .dropdown.show
                                    //-     a#postCategory.btn.border.bg-white.dropdown-toggle.rounded.w-100.p-2.text-black(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    //-         | Select category for Post
                                    //-     .dropdown-menu.w-100(aria-labelledby="postCategory")
                                    //-         a.dropdown-item(href="#") Politics
                                    //-         a.dropdown-item(href="#") Tech
                                    //-         a.dropdown-item(href="#") Entertainment
                                    //-         a.dropdown-item(href="#") Travel
                                    //-         a.dropdown-item(href="#") Sport
                                    //- script.
                                    //-     $(".dropdown-menu a").on('click',function(){
                                    //-         $(this).parents(".dropdown").find('.btn').html('<img src="img/lorem.png" alt="lorem">' + $(this).text() + ' <span class="caret"></span>' );
                                    //-         $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                                    //-     });

                                    label.text-black.mt-3(for="postDescription") Description
                                    input#postDescription.form-control.rounded(type="text")

                                    label.text-black.mt-3(for="postIntroduction") Introduction
                                    textarea#postIntroduction.form-control.rounded(type="text" rows="5")
                                
                                    label.text-black.mt-3(for="postContent") Content
                                    textarea#postContent.form-control.rounded(type="email" rows="10")

                                    .d-flex.justify-content-end.mt-3
                                        input.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Create")
                            .col-md-1

                        