extends ../layout

block content

    .site-section.bg-light
        .container
            .account-profile
                .row
                    .col-md-3.mr-auto.order-md-1.border-right
                        h3.text-center.pb-3= user.name
                        ul.list-group.list-group-flush.pb-3
                            li.list-group-item.bg-light
                                a.text-secondary(href="/account") Settings
                            li.list-group-item.bg-light.active
                                a.text-dark(href="/my-posts") Posts
                            li.list-group-item.bg-light
                                a.text-secondary(href="#") Comments

                        - if (user.role === 'admin')
                            h5.text-center.pb-2 Admin
                            ul.list-group.list-group-flush
                                li.list-group-item.bg-light
                                    a.text-secondary(href="#") All Users
                                li.list-group-item.bg-light
                                    a.text-secondary(href="#") All Posts
                                li.list-group-item.bg-light
                                    a.text-secondary(href="#") All Comments
                                hr.pb-3

                    .col-md-9.order-md-2
                        
                        .row
                            .col-md-6
                                .d-flex.justify-content-start
                                    h3.px-5.pb-5.pt-2 Your Posts
                            .col-md-6
                                .d-flex.justify-content-end
                                    input.btn.btn-primary.py-2.px-4.rounded(type="submit" value="Create Posts")