.site-section.bg-light
    .container
        .row.align-items-stretch.retro-layout
            .col-md-5.order-md-2
                a.hentry.img-1.h-100.gradient(href="single.html" style="background-image: url('images/img_4.jpg');")
                    span.post-category.text-white.bg-danger Travel
                    .text
                        h2 The 20 Biggest Fintech Companies In America 2019
                        span February 12, 2019
            .col-md-7
                a.hentry.img-2.v-height.mb30.gradient(href="single.html" style="background-image: url('images/img_1.jpg');")
                    span.post-category.text-white.bg-success Nature
                    .text.text-sm
                        h2 The 20 Biggest Fintech Companies In America 2019
                        span February 12, 2019
                .two-col.d-block.d-md-flex
                    a.hentry.v-height.img-2.gradient(href="single.html" style="background-image: url('images/img_2.jpg');")
                        span.post-category.text-white.bg-primary Sports
                        .text.text-sm
                            h2 The 20 Biggest Fintech Companies In America 2019
                            span February 12, 2019
                    a.hentry.v-height.img-2.ml-auto.gradient(href="single.html" style="background-image: url('images/img_3.jpg');")
                        span.post-category.text-white.bg-warning Lifestyle
                        .text.text-sm
                            h2 The 20 Biggest Fintech Companies In America 2019
                            span February 12, 2019