.site-section.bg-lightx
    .container
        .row.justify-content-center.text-center
            .col-md-5
                .subscribe-1
                    h2 Subscribe to our newsletter
                    p.mb-5
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
                        | nesciunt error illum a explicabo, ipsam nostrum.
                    form.d-flex(action="#")
                        input.form-control(type="text" placeholder="Enter your email address")
                        input.btn.btn-primary(type="submit" value="Subscribe")