.site-cover.site-cover-sm.same-height.overlay.single-page(style="background-image: url('images/img_2.jpg');")
    .container
        .row.same-height.justify-content-center
            .col-md-12.col-lg-10
                .post-entry.text-center
                    span.post-category.text-white.bg-success.mb-3 Nature
                    h1.mb-4
                        a(href="#") The AI magically removes moving objects from videos.
                    .post-meta.align-items-center.text-center
                        figure.author-figure.mb-0.mr-3.d-inline-block
                            img.img-fluid(src="images/person_1.jpg" alt="Image")
                        span.d-inline-block.mt-1 By Carrol Atkinson
                        span &nbsp;-&nbsp; February 10, 2019