h5.card-title.text-center.font-weight-bold Login
form.form-signin
.form-label-group
    input#inputEmail.form-control(type="email" placeholder="Email address" required="")
    label(for="inputEmail") Email address
.form-label-group
    input#inputPassword.form-control(type="password" placeholder="Password" required="")
    label(for="inputPassword") Password
button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type="submit")
    | Login
.p-3
hr