h5.card-title.text-center.font-weight-bold
| Register
form.form-signin
.form-label-group
    input#inputUserame.form-control(type="text" placeholder="Username" required="" autofocus="")
    label(for="inputUserame") Username
.form-label-group
    input#inputEmail.form-control(type="email" placeholder="Email address" required="")
    label(for="inputEmail") Email address
.form-label-group
    input#inputPassword.form-control(type="password" placeholder="Password" required="")
    label(for="inputPassword") Password
.form-label-group
    input#inputConfirmPassword.form-control(type="password" placeholder="Password" required="")
    label(for="inputConfirmPassword") Confirm password
button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type="submit")
    | Register